@inject SweetAlertService swl

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="EditContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            Register Schedule
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label>Day : </label>
                <div class="m-2">
                    <label>Start Day</label>
                    <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="@Day.StartDay" />
                    <ValidationMessage For="@(()=>Day.StartDay)" />
                </div>
                <div class="m-2">
                    <label>End Day</label>
                    <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="@Day.EndDay" />
                    <ValidationMessage For="@(()=>Day.EndDay)" />
                </div>
                <div>
                    <label>Start Break</label>
                    <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="@Day.StartBreak" />
                    <ValidationMessage For="@(()=>Day.StartBreak)" />
                </div>
                <div>
                    <label>End Break</label>
                    <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="@Day.EndBreak" />
                    <ValidationMessage For="@(()=>Day.EndBreak)" />
                </div>
                <div>
                    <label>Price By Hour</label>
                    <InputNumber class="form-control" @bind-Value="@Day.PayByHour"/>
                    <ValidationMessage For="@(()=>Day.PayByHour)" />
                </div>
                <div>
                    <label>Note of the Date</label>
                    <InputTextArea class="form-control" @bind-Value="@Day.Note"/>
                    <ValidationMessage For="@(()=>Day.Note)"/>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary ">Save</button>
                <button class="btn btn-success" @onclick="ReturnAction">Back</button>
            </div>
        </div>
    </div>


</EditForm>

@code {
    private EditContext EditContext = null!;

    [Parameter]
    [EditorRequired]
    public Day Day { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback ReturnAction { get; set; }

    public bool FormPostedSuccessFully { get; set; }

    protected override void OnInitialized()
    {
        EditContext = new(Day);
    }

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formWasMofied = EditContext.IsModified();
        if (!formWasMofied || FormPostedSuccessFully)
        {
            return;
        }
        //He don't finihsed the form or he try out the site
        var result = await swl.FireAsync(new SweetAlertOptions
            {
                Title = "Confirm",
                Text = "Do you want left the page and lose the changes ?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Yes"
            });

        var confirm = !string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        context.PreventNavigation();
    }
}
