@page "/Register"



@inject IRepository repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject ILoginService loginService

<h3>Registrar Nuevo Usuario</h3>

<EditForm Model="userDTO" OnValidSubmit="CreteUserAsync">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label>Names:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@userDTO.FirstName" />
                    <ValidationMessage For="@(() => userDTO.FirstName)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Last Names:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@userDTO.LastName" />
                    <ValidationMessage For="@(() => userDTO.LastName)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Document:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@userDTO.Documment" />
                    <ValidationMessage For="@(() => userDTO.Documment)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Phone:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@userDTO.PhoneNumber" />
                    <ValidationMessage For="@(() => userDTO.PhoneNumber)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Email:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@userDTO.Email" />
                    <ValidationMessage For="@(() => userDTO.Email)" />
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label>City:</label>
                <div>
                    <InputNumber class="form-control" @bind-Value="@userDTO.CityId" />
                    <ValidationMessage For="@(() => userDTO.CityId)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Picture:</label>
                <div>
                    <InputText class="form-control" @bind-Value="@userDTO.Photo" />
                    <ValidationMessage For="@(() => userDTO.Photo)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Password:</label>
                <div>
                    <InputText type="password" class="form-control" @bind-Value="@userDTO.Password" />
                    <ValidationMessage For="@(() => userDTO.Password)" />
                </div>
            </div>
            <div class="mb-3">
                <label>Password Confirm:</label>
                <div>
                    <InputText type="password" class="form-control" @bind-Value="@userDTO.ConfirmPassword" />
                    <ValidationMessage For="@(() => userDTO.ConfirmPassword)" />
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary oi oi-person" type="submit"> Register</button>
</EditForm>

@code {
    private UserDTO userDTO = new();

    private async Task CreteUserAsync()
    {
        userDTO.UserName = userDTO.Email;
        userDTO.UserType = UserType.User;
        var responseHttp = await repository.Post<UserDTO, TokenDTO>("/api/accounts/CreateUser", userDTO);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await loginService.LoginAsync(responseHttp.Response!.Token);
        navigationManager.NavigateTo("/");
    }
}
